.weather-tab-container {
  height: 330px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #f7f9fc;
  border-radius: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.weather-tab-container::-webkit-scrollbar {
  display: none; 
}

.weather-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.weather-tab-container::-webkit-scrollbar-track {
  background: #f7f9fc;
  border-radius: 15px;
}

.weather-tab-container::-webkit-scrollbar-thumb {
  background-color: #6c757d; 
  border-radius: 15px;
  border: 2px solid #f7f9fc; 
}

.weather-info-list {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

/* For Firefox */
.weather-tab-container {
  scrollbar-width: thin; 
  scrollbar-color: #6c757d #f7f9fc; 
}

.weather-info-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info-card h3 {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 20px;
}

.weather-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-details {
  color: #6c757d;
  flex-grow: 1;
}

.weather-details p {
  margin: 5px 0;
}

.weather-details strong {
  color: #343a40;
}

.weather-icon {
  flex-shrink: 0;
  margin-left: 10px;
}

.weather-icon img {
  width: 50px;
  height: 50px;
}

