.weather-tab-container {
  height: 300px;
  padding: 5px;
  background-color: #202020;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.weather-heading {
  font-family: 'Nunito, Poppins, sans-serif';
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.weather-info-card {
  background-color: #2d2d2d;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.weather-info-card .temperature {
  font-size: 40px;
  color: #fff;
}

.weather-info-card .feels-like {
  font-size: 16px;
  color: #d3d3d3;
}

.weather-info-card .date {
  font-size: 14px;
  color: #b0b0b0;
}

.weather-info-card .description {
  font-size: 18px;
  font-weight: bold;
  color: #f1c40f;
}

.weather-icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather-details {
  text-align: right;
}

.weather-details .humidity,
.weather-details .wind {
  font-size: 16px;
  margin: 0px 0;
  display: flex;
  align-items: center;
}

.weather-details .humidity svg,
.weather-details .wind svg {
  margin-right: 5px;
}

.weather-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* Apply this to your weatherTab.css or directly inline in the sx prop for Box */
.weather-scroll-container {
  height: 330px;
  overflow-y: scroll;
  padding: 20px;
}

/* Style the scrollbar */
.weather-scroll-container::-webkit-scrollbar {
  width: 6px; /* Thin scrollbar width */
}

.weather-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track background */
}

.weather-scroll-container::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded scrollbar */
}

.weather-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

/* Firefox */
.weather-scroll-container {
  scrollbar-width: thin; /* Thin scrollbar for Firefox */
  scrollbar-color: #888 #f1f1f1; /* Thumb and track colors for Firefox */
}

